mdt-table(mdt-row="$ctrl.nutritionList" paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}")
  mdt-header-row
    mdt-column(align-rule='left')
      span Dessert (100g serving)
    mdt-column(align-rule='right')
      span Calories
    mdt-column(align-rule='right')
      span Fat (g)
    mdt-column(align-rule='right')
      span Carbs (g)
    mdt-column(align-rule='right')
      span Protein (g)
    mdt-column(align-rule='right')
      span Sodium (mg)
    mdt-column(align-rule='right')
      span Calcium (%)
    mdt-column(align-rule='right')
      span Iron (%)
